html, body {
    height: 100%;
    background: #254D57;
    color: white;
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 400;
    font-size: 3em;
    -webkit-font-smoothing: antialiased;
    padding-left: 0.5em;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    line-height: 1em;
}
p {
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 400;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
}

#checkin-count {
    font-size: 2em;
    margin: 0;
    padding-left: 25px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#map {
    position: absolute;
    top: 7em;
    bottom: 0;
    width: 100%;
}

#sidebar {
    position:fixed;
    overflow-y: scroll;
    width: 300px;
    height: 100%;
    right: 0;
    top: 0;
    border-left: thin solid #4D7883;
}
#list {
    position: relative;
    margin: 0;
    padding: 0;
}

#container {
    margin-right: 301px;
    height: 100%;
    position: relative;
}
#list li {
    position: absolute;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    list-style-type: none;
    padding: 0.8em;
    padding-left: 25px;
    height: 3.3em;
    width: 100%;
    overflow: hidden;
    border-top: thin solid #4D7883;
    background: #23343D;
}

#list li.rethinkdb {

}

#list p {
    margin: 0;
}

#list p.name {
    font-size: 1.5em;
    height: 1.1em;
    margin-bottom: 0.3em;
    overflow: hidden;
}

.marker-cluster {
    border-radius: 40px !important;
}

.marker-cluster div {
    width: 70px !important;
    height: 70px !important;
    border-radius: 35px !important;
}

.marker-cluster span {
    font-size: 35px !important;
    line-height: 70px !important;
}
