<!doctype html>
<html lang="en">
    <head>
        <title>Meetup check-ins in realtime</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='styles.css') }}" />
        <script type="text/javascript" src="{{ url_for ('static', filename='jquery-2.1.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for ('static', filename='socket.io.min-0.9.16.js') }}"></script>
        <!--<script type="text/javascript" src="{{ url_for ('static', filename='app.js') }}"></script>-->
        <script type="text/javascript">
            console.log('test');
            $(document).ready(function() {
                var socket = io.connect('http://'+document.domain+':'+location.port+'/changes');
                socket.on('checkin', function(msg) {
                    $('body').append('<p>'+msg+'</p>');
                });
            });
        </script>
    </head>
    <body>
        <h1>Realtime meetup check-ins</h1>
    </body>
</html>
